

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Carousel

.carousel-flickity {
    .flickity-button {
        @include display-inline-flex;

        @include align-items-center;

        justify-content         : center;
        
        z-index                 : 20;

        width                   : calc(75 / var(--vw) * var(--multiplier));
        height                  : calc(75 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 0;

        &:before {
            @include display-inline-block;

            content             : '←';

            font-size           : calc(25 / var(--vw) * var(--multiplier));

            color               : var(--color-black);
        }

        &.previous {
            left                : calc(-37.5 / var(--vw) * var(--multiplier));
        }

        &.next {
            right               : calc(-37.5 / var(--vw) * var(--multiplier));

            &:before {
                transform       : rotate(180deg);                
            }
        }

        svg {
            @include display-none;
        }
    }

    @include media-breakpoint-down(md) {

        .flickity-button {
            width                   : calc(55 / var(--vw) * var(--multiplier));
            height                  : calc(55 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(15 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-27.5 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-27.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .flickity-button {
            width                   : calc(40 / var(--vw) * var(--multiplier));
            height                  : calc(40 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(12 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-20 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-20 / var(--vw) * var(--multiplier));
            }
        }
    }
}

// Split Char

.split-char {
    > span {
        white-space             : break-spaces; 
    }
}

// Body

body {
    .content {
        opacity                 : 0;

        &.page-load-progress {
            opacity             : 1;
        }

        &.page-load {

            .page-wrapper {

                // Primary

                &.primary {

                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                }
            }
        }

        &.page-load-progress {

        }

        &.page-load-complete {

            // Wizard

            .wizard {

                // Theme

                .theme {

                }
            }
        }
    }
}

// Page

.page {
    .page-content {
        @include position-relative;

        z-index             : 20;
    }
}



// Navbar

.navbar {

    // Primary

    &.primary {
        @include position-fixed;

        @include width-100;

        pointer-events              : auto;

        z-index                     : 1040;

        padding                     : calc(30 / var(--vw) * var(--multiplier)) 0;

        top                         : 0;

        border-bottom               : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-white, 0.25);

        transition                  : 0.75s var(--cubic-bezier-3);

        &.scroll {
            padding                 : calc(20 / var(--vw) * var(--multiplier)) 0;

            backdrop-filter         : blur(5px);
        }

        .container {
            @include p-0;
        }

        .navbar-wrapper {

            // Primary

            &.primary {
                @include position-relative;

                @include display-flex;

                @include align-items-center;

                @include width-100;

                justify-content             : space-between;
                
                .navbar-brand {
                    @include position-absolute;

                    @include text-align-center;

                    @include font-primary;
                    @include h4;

                    @include text-transform-uppercase;

                    font-weight             : var(--font-weight-semibold);

                    color                   : var(--color-white);

                    top                     : 50%;
                    left                    : 50%;
                    
                    transform               : translate(-50%, -50%);

                    > span {
                        @include display-inline-block;
                    }
                }

                .navbar-nav {
                    @include display-flex;

                    @include align-items-center;

                    .nav-item {
                        @include mr-5;

                        &:last-child {
                            @include mr-0;
                        }
                    }

                    // Primary

                    &.primary {
                        
                    }
                }
            }
        }
    }
}

// Footbar

.footbar {

    // Primary

    &.primary {
        @include position-relative;

        //z-index         : 1020;

        height          : 150vh;

        // &:before {
        //     @include position-absolute;

        //     @include width-100;
            
        //     content         : '';

        //     z-index         : 1040;

        //     height          : 75vh;

        //     top             : calc(-75vh + calc(1 / var(--vw) * var(--multiplier)));
        //     left            : 0;

        //     background      : linear-gradient(180deg, rgba($color-black, 0) 0%, rgba($color-black, 1) 100%);
        // }
    }
}

// Menu

.menu-overlay {
    @include position-fixed;

    @include display-block;

    @include width-100;
    @include height-100;

    pointer-events      : none;

    z-index             : 1020;

    top                 : 0;
    left                : 0;

    opacity             : 0;
    
    background          : rgba($color-black, 0.35);

    transition          : 1s var(--cubic-bezier-2);

    &.active {
        opacity         : 1;
    }
}

// Wizard

.wizard {
    @include overflow-hidden;

    section {
        @include position-relative;

        z-index                 : 10;

        background              : var(--color-white);
    }

    // ----- Main - Theme ----- //

    .theme {

        // Hero

        &.hero {

            // Primary

            // &.primary {
            //     background          : var(--color-black);

            //     .section-wrapper {

            //         // Primary

            //         &.primary {
            //             @include position-relative;

            //             @include overflow-hidden;

            //             height              : 100vh;

            //             > .wrapper-inner {
            //                 @include position-absolute;

            //                 @include width-100;

            //                 z-index         : 10;

            //                 top             : 57.5%;
            //                 left            : 50%;

            //                 transform       : translate(-50%, -50%);
            //             }
            //         }
            //     }

            //     .section-carousel {
            //         @include overflow-hidden;
                    
            //         .carousel-cell {
            //             @include position-absolute;

            //             top                             : 0;
            //             left                            : 0;

            //             transition                      : 2s var(--cubic-bezier-2);

            //             clip-path                       : inset(0 100% 0 0);

            //             .carousel-image {
            //                 .image {
            //                     img {
            //                         transform           : translateX(calc(-150 / var(--vw) * var(--multiplier)));

            //                         transition          : 2s var(--cubic-bezier-2);
            //                     }
            //                 }
            //             }

            //             &.leaving {
            //                 clip-path                   : inset(0 0 0 100%);

            //                 .carousel-image {
            //                     .image {
            //                         img {
            //                             transform       : translateX(calc(150 / var(--vw) * var(--multiplier)));
            //                         }
            //                     }
            //                 }
            //             }

            //             &.active {
            //                 clip-path                   : inset(0 -5% 0 0);

            //                 .carousel-image {
            //                     .image {
            //                         img {
            //                             transform       : translateX(0);
            //                         }
            //                     }
            //                 }
            //             }
            //         }
            //     }
                
            //     // Header

            //     .hero-header {
            //         @include text-align-center;

            //         .header-text {
            //             @include mb-5;

            //             .title {
            //                 .text-title {
            //                     font-size           : calc(150 / var(--vw) * var(--multiplier));

            //                     line-height         : 1;
            //                 }
            //             }

            //             .subtitle {
            //                 .text-subtitle {
            //                     @include h6;
            //                 }
            //             }
            //         }

            //         .header-button {
            //             @include display-flex;

            //             @include align-items-center;

            //             justify-content             : center;

            //             .button {
            //                 @include mr-2;

            //                 &:last-child {
            //                     @include mr-0;
            //                 }
            //             }
            //         }
            //     }
            // }

            &.primary {
                background          : var(--color-black);

                .section-wrapper {

                    // Primary

                    &.primary {
                        @include position-relative;

                        @include overflow-hidden;

                        height              : 100vh;

                        > .wrapper-inner {
                            @include position-absolute;

                            @include width-100;

                            z-index         : 10;

                            height          : calc(100vh - calc(103.5 / var(--vw) * var(--multiplier)));

                            padding         : calc(125 / var(--vw) * var(--multiplier)) 0 calc(30 / var(--vw) * var(--multiplier)) 0;

                            bottom          : 0;
                            left            : 50%;

                            transform       : translateX(-50%);

                            > .container {
                                @include height-100;

                                @include p-0;
                            }
                        }
                    }
                }

                .section-carousel {
                    @include overflow-hidden;
                    
                    .carousel-cell {
                        @include position-absolute;

                        top                             : 0;
                        left                            : 0;

                        transition                      : 2s var(--cubic-bezier-2);

                        clip-path                       : inset(0 100% 0 0);

                        .carousel-image {
                            .image {
                                img {
                                    transform           : translateX(calc(-150 / var(--vw) * var(--multiplier)));

                                    transition          : 2s var(--cubic-bezier-2);
                                }
                            }
                        }

                        &.leaving {
                            clip-path                   : inset(0 0 0 100%);

                            .carousel-image {
                                .image {
                                    img {
                                        transform       : translateX(calc(150 / var(--vw) * var(--multiplier)));
                                    }
                                }
                            }
                        }

                        &.active {
                            clip-path                   : inset(0 -5% 0 0);

                            .carousel-image {
                                .image {
                                    img {
                                        transform       : translateX(0);
                                    }
                                }
                            }
                        }
                    }
                }
                
                // Content

                .hero-header {
                    @include height-100;

                    .header-text {
                        .title {
                            @include mb-0;

                            .text-title {
                                @include mb-0;

                                font-size                   : calc(185 / var(--vw) * var(--multiplier));

                                line-height                 : 1;

                                color                       : var(--color-white);

                                > .line-mask {
                                    &:first-child {
                                        .line {
                                            text-align      : right !important; 
                                        }
                                    }
                                }

                                span {


                                    &.icon {
                                        @include display-inline-block;

                                        @include mx-2;

                                        transform               : translateY(calc(-40 / var(--vw) * var(--multiplier)));

                                        svg {
                                            width               : calc(85 / var(--vw) * var(--multiplier));
                                            height              : calc(85 / var(--vw) * var(--multiplier));
                                        }
                                    }
                                }
                            }
                        }

                        .subtitle {
                            @include position-absolute;

                            @include mb-0;

                            bottom                  : 0;
                            right                   : 25%;

                            .text-subtitle {
                                @include mb-0;

                                color               : var(--color-white);
                            }
                        }
                    }

                    .header-caption {
                        @include position-absolute;

                        @include width-auto;

                        bottom                      : 0;
                        left                        : 0;

                        .caption {
                            > span {
                                @include p;

                                @include text-transform-uppercase;

                                font-weight         : var(--font-weight-semibold);

                                color               : var(--color-white);

                                > span {
                                    &.text {
                                        @include mr-3;
                                    }
                                }
                            }
                        }
                    }

                    .header-button {
                        @include position-absolute;

                        bottom                      : 0;
                        right                       : 0;

                        
                    }
                }
            }
        }

        // Information List

        &.information-list {

            // Primary

            &.primary {
                background              : var(--color-black);

                &.outside {
                    pointer-events      : none;
                }

                .section-wrapper {

                    // Primary

                    &.primary {
                        @include position-relative;

                        .section-background {
                            @include overflow-hidden;

                            border-bottom       : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-black);
                        }
                    }
                }

                // Header

                .information-list-header {
                    @include text-align-center;

                    @include mx-auto;

                    .header-wrapper {

                        // Primary

                        &.primary {
                            > .wrapper-inner {
                                @include position-fixed;

                                width                   : calc(850 / var(--vw) * var(--multiplier));

                                top                     : 50%;
                                left                    : 50%;

                                transform               : translate(-50%, -50%);
                            }

                            .header-quote {
                                .quote {
                                    > span {
                                        @include font-primary;

                                        @include text-transform-uppercase;

                                        font-weight             : var(--font-weight-semibold);
                                        font-size               : calc(50 / var(--vw) * var(--multiplier));

                                        letter-spacing          : calc(-1.5 / var(--vw) * var(--multiplier));

                                        line-height             : 1.10;

                                        &.text-mask {
                                            * {
                                                @include text-align-center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // Content

                .information-list-content {
                    .content-wrapper {

                        // Primary

                        &.primary {
                            @include position-fixed;

                            @include overflow-hidden;

                            @include p-5;

                            z-index                 : 10;

                            width                   : calc(250 / var(--vw) * var(--multiplier));
                            height                  : calc(230 / var(--vw) * var(--multiplier));

                            top                     : 50%;
                            right                   : 3.75%;

                            transform               : translateY(-50%);

                            background              : rgba($color-white, 0.05);

                            border                  : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-white, 0.25);
                            border-radius           : calc(10 / var(--vw) * var(--multiplier));

                            backdrop-filter         : blur(5px);

                            > .wrapper-inner {
                                @include position-fixed;

                                @include p-5;

                                width               : calc(250 / var(--vw) * var(--multiplier));
                                height              : calc(230 / var(--vw) * var(--multiplier));

                                top                 : 50%;
                                right               : 3.75%;

                                transform           : translateY(-50%);
                            }

                            .content-icon {
                                @include mb-4;

                                .icon {
                                    @include display-inline-flex;

                                    @include align-items-center;

                                    justify-content         : center;

                                    width                   : calc(60 / var(--vw) * var(--multiplier));
                                    height                  : calc(60 / var(--vw) * var(--multiplier));

                                    border                  : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-white, 0.25);
                                    border-radius           : 100%;
                                }
                            }

                            .content-text {
                                .desc {
                                    .text-description {
                                        @include mb-0;

                                        font-size           : calc(13 / var(--vw) * var(--multiplier));

                                        color               : var(--color-white);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Service List

        &.service-list {

            // Primary

            &.primary {
                background                  : var(--color-black);

                // Header

                .service-list-header {
                    @include display-flex;

                    @include align-items-center;
                    
                    @include position-relative;

                    @include mx-auto;

                    justify-content                 : center;

                    height                          : 100vh;

                    .container {
                        @include max-width-100;

                        @include p-0;
                    }

                    .header-mask {
                        @include position-absolute;

                        @include width-100;

                        z-index                     : 10;

                        top                         : 50%;
                        left                        : 50%;

                        transform                   : translate(-50%, -50%);

                        mask-image                  : url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27356%27 height=%27356%27 fill=%27none%27 viewBox=%270 0 356 356%27%3E%3Cpath fill=%27%23D9D9D9%27 d=%27M178 0s-2.346 100.135 37.76 140.24S356 178 356 178s-100.135-2.346-140.24 37.76S178 356 178 356s2.346-100.135-37.76-140.24S0 178 0 178s100.135 2.346 140.24-37.76S178 0 178 0%27/%3E%3C/svg%3E");
                        mask-position               : center center;
                        mask-repeat                 : no-repeat;

                        .mask-image {
                            .image {
                                img {
                                    object-fit          : cover;
                                    object-position     : top;

                                    height              : 150vh;
                                }
                            }
                        }
                    }

                    .header-marquee {
                        border-top                      : calc(1 / var(--vw) * var(--multiplier)) solid rgba($color-white, 0.25);

                        .marquee-text {
                            @include position-relative;

                            transform                   : translateX(calc(-1300 / var(--vw) * var(--multiplier)));

                            .title {
                                @include position-absolute;

                                @include mb-0;

                                .text-title {
                                    @include font-primary;

                                    @include mb-0;

                                    font-size       : calc(185 / var(--vw) * var(--multiplier));
                                }
                            }
                        }
                    }
                }

                // Content

                .service-list-content {
                    @include position-relative;

                    z-index                         : 10;

                    padding-top                     : 100vh;

                    .content-wrapper {

                        // Primary

                        &.primary {
                            @include mx-auto;

                            max-width               : 80%;

                            > .wrapper-inner {
                                @include text-align-center;
                                
                                @include p-5;

                                background          : var(--color-white);

                                border-radius       : calc(15 / var(--vw) * var(--multiplier));

                                .col-wrapper-outer {
                                    @include col-12;

                                    > .row {
                                        @include align-items-center;
                                    }

                                    .col-wrapper-inner {
                                        @include col-6;
                                    }
                                }
                            }

                            .content-image {
                                .image-outer {
                                    @include overflow-hidden;

                                    border-radius               : calc(10 / var(--vw) * var(--multiplier));

                                    .image {
                                        img {
                                            transform           : scale(1.15);
                                        }
                                    }
                                }
                            }

                            .content-text {
                                @include mb-5;

                                .title {
                                    .text-title {
                                        color                   : var(--color-black);
                                    }
                                }

                                .price {
                                    @include mb-4;
                                }

                                .desc {
                                    .text-description {
                                        @include p;

                                        color                   : var(--color-black);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


