

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Carousel

.carousel-flickity {
    .flickity-button {
        @include display-inline-flex;

        @include align-items-center;

        justify-content         : center;
        
        z-index                 : 20;

        width                   : calc(75 / var(--vw) * var(--multiplier));
        height                  : calc(75 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 0;

        &:before {
            @include display-inline-block;

            content             : '←';

            font-size           : calc(25 / var(--vw) * var(--multiplier));

            color               : var(--color-black);
        }

        &.previous {
            left                : calc(-37.5 / var(--vw) * var(--multiplier));
        }

        &.next {
            right               : calc(-37.5 / var(--vw) * var(--multiplier));

            &:before {
                transform       : rotate(180deg);                
            }
        }

        svg {
            @include display-none;
        }
    }

    @include media-breakpoint-down(md) {

        .flickity-button {
            width                   : calc(55 / var(--vw) * var(--multiplier));
            height                  : calc(55 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(15 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-27.5 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-27.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .flickity-button {
            width                   : calc(40 / var(--vw) * var(--multiplier));
            height                  : calc(40 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(12 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-20 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-20 / var(--vw) * var(--multiplier));
            }
        }
    }
}

// Split Char

.split-char {
    > span {
        white-space             : break-spaces; 
    }
}

// Body

body {
    .content {
        opacity                 : 0;

        &.page-load-progress {
            opacity             : 1;
        }

        &.page-load {

            .page-wrapper {

                // Primary

                &.primary {

                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                }
            }
        }

        &.page-load-progress {

        }

        &.page-load-complete {

            // Wizard

            .wizard {

                // Theme

                .theme {

                }
            }
        }
    }
}

// Page

.page {
    .page-content {
        @include position-relative;

        z-index             : 20;
    }
}



// Navbar

.navbar {

    // Primary

    &.primary {
        @include position-absolute;

        @include width-100;

        @include p-0;

        pointer-events              : auto;

        z-index                     : 1040;

        transition                  : 0.75s var(--cubic-bezier-1);

        &.scroll {

        }
    }
}

// Footbar

.footbar {

}

// Menu

.menu-overlay {
    @include position-fixed;

    @include display-block;

    @include width-100;
    @include height-100;

    pointer-events      : none;

    z-index             : 1020;

    top                 : 0;
    left                : 0;

    opacity             : 0;
    
    background          : rgba($color-black, 0.35);

    transition          : 1s var(--cubic-bezier-2);

    &.active {
        opacity         : 1;
    }
}

// Wizard

.wizard {
    @include overflow-hidden;

    section {
        @include position-relative;

        z-index                 : 10;

        background              : var(--color-white);
    }

    // ----- Main - Theme ----- //

    .theme {

        // Hero

        &.hero {

            // Primary

            &.primary {
                background          : var(--color-black);

                .section-wrapper {

                    // Primary

                    &.primary {
                        @include position-relative;

                        @include overflow-hidden;

                        height              : 100vh;

                        > .wrapper-inner {
                            @include position-absolute;

                            @include width-100;

                            z-index         : 10;

                            top             : 50%;
                            left            : 50%;

                            transform       : translate(-50%, -50%);
                        }
                    }
                }
                
                // Header

                .hero-header {
                    @include text-align-center;

                    .header-text {
                        @include mb-5;

                        .title {
                            .text-title {
                                font-size           : calc(160 / var(--vw) * var(--multiplier));

                                color               : var(--color-white);
                            }
                        }

                        .subtitle {
                            .text-subtitle {
                                @include h6;

                                color               : var(--color-white);
                            }
                        }
                    }

                    .header-button {
                        @include display-flex;

                        @include align-items-center;

                        justify-content             : center;

                        .button {
                            @include mr-2;

                            &:last-child {
                                @include mr-0;
                            }
                        }
                    }
                }

                // Content

                .hero-content {
                    .col-content-outer {
                        @include col-12;

                        .col-content-inner {
                            &:first-child {
                                @include col-4;
                            }

                            &:last-child {
                                @include col-8;
                            }
                        }
                    }

                    .content-text {
                        .subtitle {
                            .text-subtitle {
                                color               : var(--color-white);
                            }
                        }

                        .desc {
                            .text-description {
                                @include mb-0;

                                color               : var(--color-white);
                            }
                        }
                    }

                    .content-list {
                        @include height-100;

                        > ul {
                            @include display-flex;

                            @include height-100;

                            @include p-0;
                            @include m-0;

                            list-style              : none;

                            > li {
                                @include display-flex;

                                @include height-100;

                                flex-direction      : column;

                                width               : calc(100% / 3);

                                .list-text {
                                    @include mb-auto;

                                    .subtitle {
                                        .text-subtitle {
                                            color               : var(--color-white);
                                        }
                                    }     
                                }

                                .list-number {
                                    .number {
                                        > span {
                                            color               : var(--color-white);

                                            > span {
                                                @include h5;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Information List

        &.information-list {

            // Primary

            &.primary {
                background          : var(--color-black);

                .section-wrapper {

                    // Primary

                    &.primary {
                        @include position-relative;

                        @include overflow-hidden;
                    }
                }
            }
        }
    }
}


