

// Utitlities

@import "../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Body

body {
    .content {

        // Page Loader

        &.page-load {
            @include width-100;
            @include height-100;

            background          : var(--color-white);

            #smooth-wrapper {
                clip-path       : polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                transition      : 1.75s var(--cubic-bezier-2);
            }
            
            // Loader

            .loader {
                @include position-fixed;

                @include display-flex;

                @include align-items-center;

                @include width-100;
                @include height-100;

                justify-content     : center;

                z-index             : 2040;

                top                 : 0;
                left                : 0;

                background          : var(--color-black);

                clip-path           : polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                transition          : 1.5s var(--cubic-bezier-2);

                .loader-loading {
                    * {
                        transition          : 2s var(--cubic-bezier-2);
                    }

                    .loading-caption {
                        .caption {
                            > span {
                                @include position-fixed;

                                @include display-inline-block;

                                @include overflow-hidden;

                                @include font-primary;
                                @include p;

                                left            : 50%;

                                transform       : translateX(-50%);

                                &.text {
                                    top         : calc(35 / var(--vw) * var(--multiplier));
                                }

                                &.number {
                                    bottom      : calc(35 / var(--vw) * var(--multiplier));
                                }

                                > span {
                                    @include display-inline-block;

                                    @include font-primary;
                                    @include p;

                                    @include text-transform-uppercase;

                                    font-weight         : var(--font-weight-semibold);

                                    letter-spacing      : normal;

                                    transition          : 2s var(--cubic-bezier-2);
                                }
                            }
                        }
                    }

                    .loading-image {
                        .image-wrapper {

                            // Primary

                            &.primary {
                                width                   : calc(300 / var(--vw) * var(--multiplier));
                                height                  : calc(300 / var(--vw) * var(--multiplier));

                                clip-path               : polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                                transition              : 2.5s var(--cubic-bezier-1);

                                > .wrapper-outer {
                                    @include position-fixed;

                                    @include overflow-hidden;

                                    width               : calc(300 / var(--vw) * var(--multiplier));
                                    height              : calc(300 / var(--vw) * var(--multiplier));

                                    top                 : 50%;
                                    left                : 50%;

                                    transform           : translate(-50%, -50%);

                                    transition          : 5s ease-in;

                                    &.saturate {
                                        z-index         : 20;
                                        
                                        clip-path       : polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                                    }

                                    &.desaturate {
                                        z-index         : 10;

                                        .image {
                                            filter      : grayscale(1);
                                        }
                                    }
                                }

                                .image {
                                    @include position-fixed;

                                    width               : calc(300 / var(--vw) * var(--multiplier));
                                    height              : calc(300 / var(--vw) * var(--multiplier));

                                    top                 : 50%;
                                    left                : 50%;

                                    transform           : translate(-50%, -50%) scale(1.25);

                                    transition          : 6.5s var(--cubic-bezier-2);

                                    img {
                                        opacity         : 0;

                                        transition      : transform 5s var(--cubic-bezier-5), opacity 0s;
                                    }

                                    &:nth-child(1) {
                                        img {
                                            opacity         : 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .loader-logo {
                    @include position-fixed;

                    @include text-align-center;

                    top             : 50%;
                    left            : 50%;

                    transform       : translate(-50%, -50%);

                    transition      : 2s var(--cubic-bezier-2);

                    .logo-text {
                        @include position-relative;

                        @include display-flex;
                        
                        @include align-items-center;

                        justify-content             : center;

                        line-height                 : 0.90;

                        transform                   : scale(0.75);

                        transition                  : 4s var(--cubic-bezier-2);

                        > span {
                            @include position-absolute;

                            @include display-inline-block;

                            top                     : 50%;
                            left                    : 50%;

                            transform               : translate(-50%, -50%);

                            transition              : 2s var(--cubic-bezier-2);
                            
                            * {
                                transition          : 2s var(--cubic-bezier-2);
                            }
                            
                            &.text {
                                @include font-primary;

                                @include text-transform-uppercase;

                                font-weight             : var(--font-weight-semibold);
                                font-size               : calc(30 / var(--vw) * var(--multiplier));

                                color                   : var(--color-white);

                                > span {
                                    @include display-flex;

                                    @include align-items-center;

                                    @include overflow-hidden;

                                    > span {
                                        @include display-inline-block;

                                        white-space                 : pre;

                                        @for $i from 1 through 10 {
                                            &:nth-child(#{$i}) {
                                                transition-delay    : #{($i - 1) * 0.1}s;
                                            }
                                        }
                                    }
                                }

                                &:first-child {
                                    left                    : calc(50% - calc(55 / var(--vw) * var(--multiplier)));

                                    > span {
                                        > span {
                                            transform       : translateY(110%);
                                        }
                                    }
                                }

                                &:last-child {
                                    left                    : calc(50% + calc(50 / var(--vw) * var(--multiplier)));

                                    > span {
                                        > span {
                                            transform       : translateY(-110%);
                                        }
                                    }   
                                }
                            }

                            &.icon {
                                top                         : calc(50% - calc(3.5 / var(--vw) * var(--multiplier)));

                                transform                   : translate(-50%, -50%) scale(0);

                                svg {
                                    animation               : animationLoopSpin 6.5s var(--cubic-bezier-2) infinite;
                                }
                            }
                        }
                    }
                }
            }

            // Navbar

            .navbar {

                // Primary

                &.primary {
                    .navbar-wrapper {

                        // Primary

                        &.primary {
                            &:after {
                                width                       : 0 !important;

                                transition                  : 2s var(--cubic-bezier-1);
                            }

                            .navbar-brand {
                                * {
                                    transition              : 2s var(--cubic-bezier-2);
                                }

                                > span {
                                    &.text {
                                        @include display-inline-block;

                                        @include overflow-hidden;

                                        > span {
                                            @include display-inline-block;

                                            transform       : translateY(-100%);
                                        }
                                    }
                                }
                            }

                            .navbar-nav {
                                .nav-item {
                                    transition              : 2s var(--cubic-bezier-2);

                                    transform               : translateY(-100%);
                                }
                            }
                        }
                    }
                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                    // Hero

                    &.hero {

                        // Primary

                        &.primary {
                            .section-carousel {
                                .carousel-cell {
                                    .carousel-image {
                                        .image {
                                            transform           : translateY(calc(300 / var(--vw) * var(--multiplier))) scale(1.35);

                                            transition          : 3s var(--cubic-bezier-1);
                                        }
                                    }
                                }
                            }

                            // Header

                            .hero-header {
                                .header-text {
                                    .title {
                                        .text-title {
                                            .line {
                                                transition          : 2s var(--cubic-bezier-2);

                                                &:first-child {
                                                    transform       : translateX(calc(-185 / var(--vw) * var(--multiplier)));
                                                }

                                                &:last-child {
                                                    transform       : translateX(calc(425 / var(--vw) * var(--multiplier)));
                                                }

                                                .text {
                                                    > span {
                                                        @include display-inline-block;

                                                        @include overflow-hidden;

                                                        > span {
                                                            @include display-inline-block;

                                                            transform           : translateY(105%);

                                                            transition          : 2s var(--cubic-bezier-2);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .subtitle {
                                        .text-subtitle {
                                            .line-mask {
                                                .line {
                                                    transform                   : translateY(105%);

                                                    transition                  : 2s var(--cubic-bezier-2);
                                                }
                                            }
                                        }
                                    }
                                }

                                .header-caption {
                                    .caption {
                                        .line-mask {
                                            .line {
                                                transform                       : translateY(105%);

                                                transition                      : 2s var(--cubic-bezier-2);
                                            }
                                        }   
                                    }
                                }

                                .header-button {
                                    .button {
                                        transform                               : translateY(calc(150 / var(--vw) * var(--multiplier)));

                                        transition                              : 2s var(--cubic-bezier-2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.page-load-start-1 {

            &.page-load-progress-1 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(2) {
                                            img {
                                                opacity         : 1;
                                                
                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.page-load-progress-2 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(3) {
                                            img {
                                                opacity         : 1;

                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.page-load-progress-3 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(4) {
                                            img {
                                                opacity         : 1;

                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.page-load-progress-4 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(5) {
                                            img {
                                                opacity         : 1;

                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.page-load-progress-5 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(6) {
                                            img {
                                                opacity         : 1;

                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.page-load-progress-6 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(7) {
                                            img {
                                                opacity         : 1;

                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.page-load-progress-7 {

                // Loader

                .loader {
                    .loader-loading {
                        .loading-image {
                            .image-wrapper {

                                // Primary

                                &.primary {
                                    .image {
                                        &:nth-child(8) {
                                            img {
                                                opacity         : 1;

                                                transform       : scale(1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Loader

            .loader {
                .loader-loading {
                    .loading-image {
                        .image-wrapper {

                            // Primary

                            &.primary {
                                > .wrapper-outer {
                                    &.saturate {
                                        clip-path       : polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                                    }
                                }

                                .image {
                                    transform           : translate(-50%, -50%) scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }

        &.page-load-start-2 {

            #smooth-wrapper {
                clip-path               : polygon(7.5% 10%, 92.5% 10%, 92.5% 90%, 7.5% 90%);

                transition-delay        : 0.25s;
            }

            // Loader

            .loader {
                .loader-loading {
                    .loading-caption {
                        .caption {
                            > span {
                                &.text {
                                    > span {
                                        transform           : translateY(-150%);
                                    }
                                }

                                &.number {
                                    > span {
                                        transform           : translateY(150%);
                                    }
                                }
                            }
                        }
                    }

                    .loading-image {
                        .image-wrapper {

                            // Primary

                            &.primary {
                               clip-path                : polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);

                               transform                : scale(0.35);
     
                                .image {
                                    transform           : translate(-50%, -50%) scale(1.25);

                                    transition          : 3s var(--cubic-bezier-2);
                                }
                            }
                        }
                    }
                }
            }
        }    

        &.page-load-start-3 {

            // Loader

            .loader {
                .loader-logo {
                    .logo-text {
                        transform                       : scale(1);

                        > span {
                            &.text {
                                > span {
                                    > span {
                                        transform                   : translateY(0) !important;

                                        @for $i from 1 through 10 {
                                            &:nth-child(#{$i}) {
                                                transition-delay    : #{($i - 1) * 0.075 + 0.75s}s;
                                            }
                                        }
                                    }
                                }
                            }

                            &.icon {
                                transform               : translate(-50%, -50%) scale(1);
                            }
                        }
                    }
                }
            }
        }

        &.page-load-start-4 {

            #smooth-wrapper {
                clip-path               : polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        
            // Loader

            .loader {
                .loader-logo {
                    .logo-text {
                        > span {
                            &.text {
                                &:first-child {
                                    > span {
                                        transform           : translateX(calc(24.5 / var(--vw) * var(--multiplier)));
                                    }
                                }

                                &:last-child {
                                    > span {
                                        transform           : translateX(calc(-24.5 / var(--vw) * var(--multiplier)));
                                    }
                                }
                            }

                            &.icon {
                                transform                   : translate(-50%, -50%) scale(0);
                            }
                        }
                    }
                }
            }
        }

        &.page-load-start-5 {

            // Loader

            .loader {
                clip-path           : polygon(0 0, 100% 0, 100% 0, 0 0);

                transition-delay    : 1s;

                .loader-logo {
                    transform           : translateY(calc(-200 / var(--vw) * var(--multiplier)));
                    transition-delay    : 0.75s;
                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                    // Hero

                    &.hero {

                        // Primary

                        &.primary {
                            .section-carousel {
                                .carousel-cell {
                                    .carousel-image {
                                        .image {
                                            transform           : translateY(0) scale(1);

                                            transition-delay    : 0.75s;
                                        }
                                    }
                                }
                            }

                            // Header

                            .hero-header {
                                .header-text {
                                    .title {
                                        .text-title {
                                            .line {
                                                transition-delay    : 2.10s;

                                                &:first-child {
                                                    transform       : translateX(0);
                                                }

                                                &:last-child {
                                                    transform       : translateX(0);
                                                }

                                                .text {
                                                    > span {
                                                        > span {
                                                            @for $i from 1 through 20 {

                                                                &:nth-child(#{$i}) {
                                                                    transform               : translateY(0);

                                                                    transition-delay        : #{($i - 1) * 0.05 + 0.75}s;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.page-load-complete {

            // Loader

            .loader {
                clip-path           : polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            // Navbar

            .navbar {

                // Primary

                &.primary {
                    .navbar-wrapper {

                        // Primary

                        &.primary {
                            &:after {
                                @include width-100;

                                transition-delay                : 1.65s;
                            }

                            .navbar-brand {
                                > span {
                                    &.text {
                                        > span {
                                            transform           : translateY(0);

                                            transition-delay    : 1.65s; 
                                        }
                                    }
                                }
                            }

                            .navbar-nav {
                                .nav-item {
                                    transform                   : translateY(0);

                                    transition-delay            : 1.65s; 
                                }
                            }
                        }
                    }
                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                    // Hero

                    &.hero {

                        // Primary

                        &.primary {
                            .section-carousel {
                                .carousel-cell {
                                    .carousel-image {
                                        .image {
                                            transform           : translateY(0) scale(1);
                                        }
                                    }
                                }
                            }

                            // Header

                            .hero-header {
                                .header-text {
                                    .title {
                                        .text-title {
                                            .line {
                                                &:first-child {
                                                    transform       : translateX(0);
                                                }

                                                &:last-child {
                                                    transform       : translateX(0);
                                                }

                                                .text {
                                                    > span {
                                                        > span {
                                                            @for $i from 1 through 20 {

                                                                &:nth-child(#{$i}) {
                                                                    transform               : translateY(0);
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .subtitle {
                                        .text-subtitle {
                                            .line-mask {
                                                @for $i from 1 through 10 {
                                                    &:nth-child(#{$i}) {
                                                        .line {
                                                            transform           : translateY(0);

                                                            transition-delay    : #{($i - 1) * 0.05 + 1.65}s;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .header-caption {
                                    .caption {
                                        .line-mask {
                                            .line {
                                                transform           : translateY(0);

                                                transition-delay    : 1.65s;
                                            }   
                                        }
                                    }
                                }

                                .header-button {
                                    .button {
                                        transform                   : translateY(0);

                                        transition-delay            : 1.65s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


